<html>
 <head>
  <title>BONOTANO, YANNA MARTHENA M.</title>
 </head>
 <style>
  table,
  th,
  td {
   border: 1px solid #D2F6FF;
  }
  
  body {
   background-image: url('https://i.pinimg.com/originals/ae/28/8f/ae288f59ad030498211c5c5d9fff2015.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   font-family: Helvetica;
  }
 </style>
 <body>
  
  <h1>
   <FONT COLOR="#62CFE8">
    <marquee behavior="alternate"
     align="center"> ST☆RS TRULY ARE
     INTERESTING~ (＞。★) </marquee>
  </h1>
  <h4>
   <FONT COLOR="#62CFE8">Let us explore the
    Milky Way! ★
  </h4>
  <h1>
   <FONT COLOR="#62CFE8">THE STUDY OF ☆
    ASTRONOMY!
  </h1>
  <h5>
   <FONT COLOR="#62CFE8">
    In the vast tapestry of the cosmos, the
    study of astronomy unveils the intricate
    dance of stars and constellations,
    offering a glimpse into the profound
    workings of the universe. Stars,
    celestial entities of immense
    luminosity, serve as crucibles where
    nuclear fusion transmutes elemental
    matter, shaping the very essence of
    cosmic existence. Concurrently,
    constellations, seemingly random
    arrangements of stars, reveal themselves
    as cultural artifacts, embedded with
    narratives and mythologies that
    transcend temporal and spatial
    boundaries. Beyond their cultural
    significance, stars and constellations
    emerge as crucial waypoints in the
    navigation of both earthly and
    interstellar realms. This observational
    presentation delves into the
    multifaceted allure of these cosmic
    phenomena, exploring their scientific,
    cultural, and navigational implications,
    unveiling a rich narrative that binds
    humanity to the celestial expanse.
  </h5>
  
  <img
   src="https://64.media.tumblr.com/229b08282b1246ef480a60757aa12489/tumblr_ok24du8KC81w0ii2ho1_500.gif"></a
   href>
  
  <h2> THERE ARE MULTIPLE AND MANY DIFFERENT
   STARS AND CONSTELLATIONS! </h2>
  <h3> Are you interested in finding more
   about them? :3 </h3>
  
  <a
   href="https://sleepopolis.com/education/constellations-stars/">
   <h4>TYPES OF CONSTELLATIONS!</h4>
  </a>
  
 </body>
</html>